<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="ArmasHost" value="http://www.gamersfirst.com"/>
  <add key="ArmasBaseUri" value="/marketplace/ingame"/>
  <add key="ArmasFrontpagePageUri" value="?gameID=20"/>
</appSettings>
</configuration>